// este es el template 
//en donde se declaran 
//todas las variables a utilizarse en 
//los estilos del sass
$font1: Montserrat
$font2: Lato
$primary-color: #000
$fontsize: 12px
$hovercolor: #464646
$menucolor: #a4cc39
$green: #a4cc39
$white: #fff
$gray: #2b2b2b
$responsive-menu: #1D1D1D
=transition($opac, $transf)
	-webkit-transition: opacity $opac, -webkit-transform $transf
	transition: opacity $opac, transform $transf
=transform($tx,$ty,$tz)
	-webkit-transform: translate3d($tx,$ty,$tz)
	transform: translate3d($tx,$ty,$tz)
=transform-scale($tx,$ty,$tz,$sx,$sy,$sz)
	-webkit-transform: translate3d($tx,$ty,$tz) scale3d($sx,$sy,$sz)
	transform: translate3d($tx,$ty,$tz) scale3d($sx,$sy,$sz)
=tf-origin($or)
	-webkit-transform-origin: $or
	transform-origin: $or

